<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phone Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        @keyframes anima {
            from{transform: translate(0px, -100px);opacity: 0;}
            to{transform: translate(0px, 0px);
                opacity: 1;}
        }
        .anim{
            box-shadow: -1px 4px 37px 13px rgba(0,0,0,0.19);
            animation: anima 1s;
            padding: 3rem;
            background: linear-gradient(to right, rgba(172, 182, 229, 0.69), rgba(134, 253, 232, 0.58));
        }
    </style>
</head>
<body class="bg-info" style="  background: linear-gradient(to right, #ec008c, #fc6767);">
    <div class="row">
        <div class="col-md-10 offset-md-1 anim" style="background-color: white; margin-top: 3rem;">
            {{{body}}}
        </div>
    </div>

</body>
</html>
